body {
  background-image: url("../src/assets/tree-background.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes versusleftmove {
  from {
    transform: translate(-1290%, 0);
    opacity: 0;
  }

  65% {
    opacity: 1;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes versusrightmove {
  from {
    transform: translate(1480%, 0);
    opacity: 0;
  }

  65% {
    opacity: 1;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes versusmiddlepopup {
  from {
    transform: skewX(-36deg) scale(10);
    opacity: 0;
  }

  65% {
    opacity: 1;
  }

  to {
    transform: skewX(-36deg) scale(1);
    opacity: 1;
  }
}
@keyframes versusexpand {
  from {
    transform: translate(-130%, 30%) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(-130%, 30%) scale(10);
    opacity: 0;
  }
}
