body {
  background-image: url(/src/assets/tree-background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  position: relative;
  animation-duration: 1.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-name: increase;
  margin-left: 20vw;
}
@keyframes increase {
  from {
    height: 0vh;
    width: 0vw;
  }
  to {
    height: 140vh;
    width: 69em;
  }
}
#dex-left {
  position: absolute;
  height: 100%;
}
#dex-right-closed-opening {
  position: absolute;
  height: 91.8%;
  top: 8.2%;
  z-index: 20;
  animation-name: open-left;
  animation-delay: 1.3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
@keyframes open-left {
  from {
    left: 0%;
    width: 88%;
  }
  to {
    left: 94%;
    width: 0%;
  }
}
#dex-right-open-opening {
  position: absolute;
  top: 8.2%;
  left: 94%;
  height: 91.8%;
  width: 0%;
  animation-name: open-right;
  animation-delay: 2.3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes open-right {
  from {
    left: 94%;
    width: 0%;
  }
  to {
    left: 99.5%;
    width: 88%;
  }
}

.main {
  position: absolute;
  z-index: 1;
  border: solid black 7px;
  border-radius: 15px;
  top: 30.3%;
  left: 14.5%;
  height: 54.6%;
  width: 62.7%;
}
.splash-background {
  position: absolute;
  height: 100%;
  width: 100%;
}
.splash-star {
  position: absolute;
  height: 0%;
  animation: pop 1s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
.splash-title {
  position: absolute;
  height: 0%;
  animation: pop 1s;
  animation-delay: 2.4s;
  animation-fill-mode: forwards;
}

@keyframes pop {
  from {
    height: 0%;
    width: 0%;
    padding: 100%;
  }
  to {
    height: 80%;
    width: 90%;
    padding: 5%;
  }
}
/*Styling for User and Enemy Pokemons*/
.mainBackground {
  position: absolute;
  height: 100%;
  width: 100%;
}

.main-container,
.enemy-pokemon {
  display: flex;
  flex-direction: row;
}

.Poke-display-container,
.enemy-pokemon__display {
  position: absolute;
  width: 30%;
  left: 5%;
  top: -1%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.poke-name {
  text-transform: capitalize;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 135%;
  font-size: 2em;
  border: 6px solid black;
  border-radius: 15px;
  background-color: #fdf0c4;
}
.enemy-pokemon__display-name {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 135%;
  border: 6px solid black;
  border-radius: 15px;
  background-color: #fdf0c4;
}

.enemy-pokemon__display-name p {
  font-size: 2em;
  text-transform: capitalize;
}

.poke-image,
.enemy-pokemon__display-image {
  margin-left: 30%;
  transform: scale(1.6);
}
.enemy-pokemon__display-image img {
  width: 100%;
}

.poke-pad,
.poke-pad--enemy {
  height: 20%;
  width: 50%;
  top: 22%;
  box-sizing: border-box;
  position: absolute;
  z-index: 0;
}
.poke-pad--enemy img {
  width: 100%;
}

.stats-box,
.enemy-pokemon__stats {
  z-index: 1;
  box-sizing: border-box;
  font-size: 1.5em;
  height: 32%;
  width: 47%;
  top: 3%;
  right: 3%;
  display: flex;
  justify-content: flex-end;
  display: inline-block;
  border: 6px solid black;
  border-radius: 15px;
  background-color: #fdf0c4;
  position: absolute;
}

.moves-title,
.enemy-pokemon__stats-title {
  margin: 10px;
  margin-left: 15px;
}

#moves-list,
.enemy-pokemon__stats-list {
  margin: 5px;
}

#moves-list > li,
.enemy-pokemon__stats-list > li {
  margin: 10px;
}

#moves-list > li > p,
.enemy-pokemon__stats-list > li > p {
  margin: 0 0 0 0;
}

/* TWO-SEARCH and ONE-SEARCH */
.searchbar {
  position: absolute;
  bottom: 8%;
  right: 51%;
  transform: scale(1.25);
}

.searchbar > input[type="text"] {
  border: 2px solid black;
  border-radius: 3px;
  padding: 3px;
  background-color: white;
}

.searchbar > input[type="text"]:focus {
  outline: none;
}

#searchButton {
  border: 1px solid black;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  transform: translate(-10%, 21%);
  background: rgb(188, 12, 12);
  background: linear-gradient(
    90deg,
    rgba(188, 12, 12, 1) 0%,
    rgba(156, 10, 10, 1) 35%,
    rgba(103, 6, 6, 1) 100%
  );
  -webkit-box-shadow: 1px 2.5px 0px;
}
#searchButton:hover {
  cursor: pointer;
}
#searchButton:active {
  height: 63px;
  width: 63px;
  background: linear-gradient(
    95deg,
    rgba(188, 12, 12, 1) 0%,
    rgba(156, 10, 10, 1) 25%,
    rgba(103, 6, 6, 1) 100%
  );
  -webkit-box-shadow: 1px 2px 0px;
}

#searchbar > input[type="text"]:focus {
  outline: none;
}

.twosearch-pokemon {
  position: absolute;
  right: 30.9%;
  bottom: 6%;
}
.twosearch-pokemon__title {
  margin-bottom: 10px;
  text-align: center;
}
.twosearch-pokemon__friendly-enemy-container {
  display: flex;
  justify-content: space-between;
}
.twosearch-pokemon__friendly {
  margin-right: 5px;
}
.twosearch-pokemon__enemy {
  margin-left: 5px;
}
.twosearch-pokemon__friendly button,
.twosearch-pokemon__enemy button {
  border: 1px solid black;
  border-radius: 15px;
  height: 75.5px;
  width: 75.5px;
  background: linear-gradient(
    90deg,
    rgba(188, 12, 12, 1) 0%,
    rgba(156, 10, 10, 1) 35%,
    rgba(103, 6, 6, 1) 100%
  );
  -webkit-box-shadow: 1px 2.5px 0px;
  box-shadow: 1px 2.5px 0px;
}
.twosearch-pokemon__friendly:not(.picked) button:enabled:hover,
.twosearch-pokemon__enemy:not(.picked) button:enabled:hover {
  cursor: pointer;
}
.twosearch-pokemon__friendly.picked button,
.twosearch-pokemon__enemy.picked button {
  cursor: default;
}
.twosearch-pokemon__friendly.picked button,
.twosearch-pokemon__enemy.picked button,
.twosearch-pokemon__friendly button:active,
.twosearch-pokemon__enemy button:active {
  height: 74.5px;
  width: 74.5px;
  background: linear-gradient(
    95deg,
    rgba(188, 12, 12, 1) 0%,
    rgba(156, 10, 10, 1) 25%,
    rgba(103, 6, 6, 1) 100%
  );
  -webkit-box-shadow: 1px 2px 0px;
  box-shadow: 1px 2px 0px;
}

/*Pokemon Evolutions Block*/
.pokemon-evolutions {
  z-index: 10;
  position: absolute;
  top: 33%;
  left: 1.5%;
  width: 95%;
}
.pokemon-evolutions__title {
  display: inline-block;
  margin-bottom: 4px;
  padding: 1px 4px;
  border: 1.5px solid white;
  border-radius: 15px;
  background-color: grey;
  border: 5px solid black;
  border-radius: 25px;
  padding: 0.4% 1.3%;
  font-size: 1em;
}
.pokemon-evolutions__title p {
  color: white;
}
.pokemon-evolutions__card-wrapper {
  display: flex;
  justify-content: space-evenly;
  overflow-x: auto;
  padding: 0.8em 0 0.2em 0.5em;
  background-color: grey;
  border: 5px solid black;
  border-radius: 25px;
}
.pokemon-evolutions__card-wrapper.eevee {
  justify-content: space-between;
}
.pokemon-evolutions__card-wrapper.eevee {
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}
.pokemon-evolutions__card-wrapper.eevee::-webkit-scrollbar {
  width: 1.6px;
  height: 7.6px;
}
.pokemon-evolutions__card-wrapper.eevee::-webkit-scrollbar-track {
  background: transparent;
}
.pokemon-evolutions__card-wrapper.eevee::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.18);
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.pokemon-evolutions__card {
  position: relative;
  text-align: center;
}
.pokemon-evolutions__card.eevee {
  padding-bottom: 2px;
}
.pokemon-evolutions__card:not(:last-child) {
  margin-right: 50px;
}
.pokemon-evolutions__card.eevee:not(:last-child) {
  margin-right: 57px;
}
.pokemon-evolutions__card.eevee:last-child {
  padding-right: 10px;
}
.pokemon-evolutions__card:not(:last-child)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 6.5px;
  height: 28.28px;
  background-color: white;
  transform: translate(20px, 45px) rotate(135deg);
}
.pokemon-evolutions__card:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 6.5px;
  height: 28.28px;
  background-color: white;
  transform: translate(20px, 61px) rotate(45deg);
}
.pokemon-evolutions__card.eevee-chain:not(:last-child)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 6.5px;
  height: 33.28px;
  background-color: white;
  transform: translate(30px, 50px) rotate(90deg);
}
.pokemon-evolutions__card.eevee-chain:not(:last-child)::after {
  display: none;
}
.pokemon-evolutions__card-img {
  width: 7em;
  height: 7em;
  margin-bottom: 3%;
  background-color: #616161;
  border: 4px solid white;
  border-radius: 50%;
}
.pokemon-evolutions__card-img img {
  width: 100%;
}
.pokemon-evolutions__card-name-id-wrapper {
  display: inline-block;
  font-size: 0.8em;
  margin-bottom: 4%;
  padding: 1%;
  background-color: transparent;
  border: 1.5px solid white;
  border-radius: 15px;
}
.pokemon-evolutions__card-name {
  color: white;
  margin-right: 1px;
  text-transform: capitalize;
}
.pokemon-evolutions__card-id {
  color: rgb(23, 38, 78);
  margin-left: 1px;
}
.pokemon-evolutions__card-id::before {
  content: "#";
}
.pokemon-evolutions__card-type {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  background-color: #efd636;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.pokemon-evolutions__card-type-name {
  font-size: 11px;
  color: black;
  text-transform: capitalize;
}

.paragraph {
  margin: 0;
}
