#dex-left{
  position: absolute;
}
#dex-right-open-opening{
  width: 0px;
  position: absolute;
  top: 42px;
  left: 424px;
  animation-name: open-right;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
#dex-right-close-opening{
  position: absolute;
  top: 42px;
  animation-name: open-left;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
@keyframes open-left{
  from {left: 0px; height: 471px; width: 366px;}
  to {left: 390px; height: 471px; width: 0px;}
}
@keyframes open-right{
  from {left: 390px; height: 471px; width: 0px;}
  to {left: 416px; height: 471px; width: 353px;}
}
#dex-right-open-closing{
  position: absolute;
  top: 42px;
  left: 424px;
  animation-name: close-right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
#dex-right-close-closing{
  width: 0px;
  position: absolute;
  top: 42px;
  animation-name: close-left;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}
@keyframes close-left{
  from {left: 390px; height: 471px; width: 0px;}
  to {left: 0px; height: 471px; width: 366px;}
}
@keyframes close-right{
  from {left: 416px; height: 471px; width: 353px;}
  to {left: 390px; height: 471px; width: 0px;}
}
.main{
  position: absolute;
  z-index: -1;
  top: 156px;
  left: 61px;
  height: 279px;
  width: 261px;
}
.splash-background{
  position: absolute;
  height: 100%;
  width: 100%;
}
.splash-star{
  position: absolute;
  height: 0%;
  width: 0%;
  animation: pop 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.splash-title{
  position: absolute;
  height: 0%;
  width: 0%;
  animation: pop 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
@keyframes pop{
  from{height: 0%; width: 0%; padding: 100%;}
  to{height: 90%; width: 90%; padding: 5%;}
}