@media screen and (max-width: 700px), (max-height: 820px){
    .pokemon-versus {
        position: fixed;
        top: 20%;
        left: 62%;
        transform: translate(0%, 0%) scale(0.10);
    }
    .enemy-pokemon__display-name {
        font-size: 1.7vw;
        width: 110%;
        border: 4px solid black;
    }
    .enemy-pokemon__display-image {
        position: fixed;
        top: 21%;
        left: 22%;
        height: 20%;
        width: 20%;
    }
    .enemy-pokemon__moves-title, .enemy-pokemon__stats-title{
        font-size: 3vw;
        padding: 1%;
        border: solid black 4px;
        border-radius: 10px;
    }
    .enemy-pokemon__stats, .enemy-pokemon__moves {
        font-size: 2vw;
        border: 4px solid black;
        border-radius: 10px;
    }
    .enemy-pokemon__stats-list, .enemy-pokemon__moves-list{
        margin: 0px;
    }.enemy-pokemon__stats-list > li , .enemy-pokemon__moves-list > li {
        font-size: 1em;
        margin: 0px;
    }
    .enemy-pokemon__display-image {
        position: fixed;
        top: 14%;
        left: 49%;
        height: 20vh;
        width: 20%;
    }
    .enemy-pokemon__display-image > img{
        height: 120%;
        width: 140%;
    }
    .enemy-pokemon__stats-title, .enemy-moves-title{
        font-size: 3vw;
        border: solid black 4px;
        border-radius: 10px;
        padding: 0.3em;
    }
}