.enemy-pokemon {
  display: flex;
  flex-direction: row;
}
.enemy-pokemon__display {
  position: absolute;
  width: 30%;
  top: 4%;
  right: 18%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.enemy-pokemon__display-name {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
  width: 135%;
  border: 6px solid black;
  border-radius: 15px;
  background-color: #fdf0c4;
  box-shadow: 0.3em 0.3em rgba(0, 0, 0, 0.3);
}
.enemy-pokemon__display-name p {
  font-size: 2em;
  text-transform: capitalize;
}

.enemy-pokemon__display-image {
  margin-left: 30%;
  transform: scale(1.6);
}
.enemy-pokemon__display-image img {
  width: 100%;
}

.poke-pad--enemy {
  height: 20%;
  width: 50%;
  top: 20%;
  right: 3%;
  box-sizing: border-box;
  position: absolute;
  z-index: 0;
}
.poke-pad--enemy img {
  width: 100%;
  height: 95%;
}
.enemy-pokemon__moves-title, .enemy-pokemon__stats-title{
  position: absolute;
  font-size: 1.8em;
  border: solid black 6px;
  border-radius: 15px;
  padding: 0.2em;
  background-color: #fdf0c4;
  left: 3%;
  top: 3%;
  z-index: 2;
}
.enemy-pokemon__stats-title{
  left: 27%;
  background-color: rgb(160, 212, 212);
  z-index: 0;
}

.enemy-pokemon__stats, .enemy-pokemon__moves {
  z-index: 1;
  box-sizing: border-box;
  font-size: 1em;
  height: 32%;
  width: 47%;
  top: 9%;
  left: 3%;
  border: 6px solid black;
  border-radius: 15px;
  background-color: #fdf0c4;
  position: absolute;
  overflow-y: auto;
  padding-top: 2%;
  box-shadow: 0.3em 0.3em rgba(0, 0, 0, 0.3);
}
.enemy-pokemon__stats{
  background-color: rgb(160, 212, 212);
  z-index: 0;
}
.enemy-pokemon__stats::-webkit-scrollbar, .enemy-pokemon__moves::-webkit-scrollbar {
  width: 8.6px;
  height: 7.6px;
}
.enemy-pokemon__stats::-webkit-scrollbar-track, .enemy-pokemon__moves::-webkit-scrollbar-track {
  background: transparent;
}
.enemy-pokemon__stats::-webkit-scrollbar-thumb, .enemy-pokemon__moves::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.18);
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.on-tip-top{
  z-index: 4;
}
.on-top{
  z-index: 3;
}

.enemy-pokemon__stats-list, .enemy-pokemon__moves-list{
  margin: 5px;
}

.enemy-pokemon__stats-list > li , .enemy-pokemon__moves-list > li {
  font-size: 1em;
  margin: 10px;
}