.moves-title {
  position: absolute;
  font-size: 1.8em;
  border: solid black 6px;
  border-radius: 15px;
  padding: 0.2em;
  background-color: #fdf0c4;
  right: 26.6%;
  top: 4%;
  z-index: 2;
}
.enemy-moves-title {
  position: absolute;
  font-size: 1.8em;
  border: solid black 6px;
  border-radius: 15px;
  padding: 0.2em;
  background-color: #fdf0c4;
  left: 3%;
  top: 3%;
  z-index: 2;
}
.moves-title.has-enemy {
  top: 55%;
}
.moves-title:hover,
.enemy-moves-title:hover {
  cursor: pointer;
}
.moves-box {
  z-index: 1;
  box-sizing: border-box;
  font-size: 1em;
  height: 32%;
  width: 47%;
  top: 10%;
  right: 3%;
  border: 6px solid black;
  border-radius: 15px;
  background-color: #fdf0c4;
  position: absolute;
  overflow-y: auto;
  padding-top: 2%;
  box-shadow: 0.3em 0.3em rgba(0, 0, 0, 0.3);
}
.enemy-moves-box {
  z-index: 1;
  box-sizing: border-box;
  font-size: 1em;
  height: 32%;
  width: 47%;
  top: 9%;
  left: 3%;
  border: 6px solid black;
  border-radius: 15px;
  background-color: #fdf0c4;
  position: absolute;
  overflow-y: auto;
  padding-top: 2%;
  box-shadow: 0.3em 0.3em rgba(0, 0, 0, 0.3);
}
.moves-box.has-enemy {
  top: 61%;
}
.moves-box::-webkit-scrollbar,
.enemy-moves-box::-webkit-scrollbar {
  width: 8.6px;
  height: 7.6px;
}
.moves-box::-webkit-scrollbar-track,
.enemy-moves-box::-webkit-scrollbar-track {
  background: transparent;
}
.moves-box::-webkit-scrollbar-thumb,
.enemy-moves-box::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.18);
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

#moves-list,
#enemy-moves-list {
  margin: 5px;
}

#moves-list > li,
#enemy-moves-list > li {
  font-size: 1em;
  margin: 10px;
}

.moves-list--up-arrow {
  position: absolute;
  top: 12%;
  right: 5.5%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #b11501;
  z-index: 3;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-name: uparrowmoves;
}
.moves-list--up-arrow.has-enemy {
  position: absolute;
  top: 63%;
  right: 5.5%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #b11501;
  z-index: 3;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-name: uparrowmoves2;
}
.enemy-moves-list--up-arrow {
  position: absolute;
  top: 11%;
  left: 45.5%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #b11501;
  z-index: 3;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-name: uparrowmovesenemy;
}

.moves-list--down-arrow {
  position: absolute;
  top: 39%;
  right: 5.5%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #b11501;
  z-index: 3;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-name: downarrowmoves;
}
.moves-list--down-arrow.has-enemy {
  position: absolute;
  top: 90%;
  right: 5.5%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #b11501;
  z-index: 3;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-name: downarrowmoves2;
}
.enemy-moves-list--down-arrow {
  position: absolute;
  top: 38%;
  left: 45.5%;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #b11501;
  z-index: 3;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-name: downarrowmovesenemy;
}

/**************/
/* ANIMATIONS */
/**************/

/* NON-ENEMY MOVES-LIST ARROWS MOVES */
@keyframes uparrowmoves {
  from {
    top: 12%;
  }

  to {
    top: 11.6%;
  }
}
@keyframes uparrowmoves2 {
  from {
    top: 63%;
  }

  to {
    top: 62.6%;
  }
}

@keyframes downarrowmoves {
  from {
    top: 39%;
  }

  to {
    top: 39.4%;
  }
}
@keyframes downarrowmoves2 {
  from {
    top: 90%;
  }

  to {
    top: 90.4%;
  }
}

/* ENEMY-MOVES-LIST ARROWS MOVES */
@keyframes uparrowmovesenemy {
  from {
    top: 11%;
  }

  to {
    top: 10.6%;
  }
}

@keyframes downarrowmovesenemy {
  from {
    top: 38%;
  }

  to {
    top: 38.4%;
  }
}

/* Styling for effectiveness label */
.effective-label {
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 0.25rem;
  margin-top: 0.2rem;
  padding: 3px;
  text-align: center;
  font-size: 7px;
  display: inline-block;
}

.effective-label[data-value="Super Effective"] {
  color: #fefefe;
  width: 3.7rem;
  background-color: #c00c0c;
}

.effective-label[data-value="Ineffective"] {
  color: #fefefe;
  width: 4.2rem;
  background-color: rgb(65, 95, 165);
}

.effective-label[data-value="Half Damage"] {
  color: #fefefe;
  width: 3.7rem;
  background-color: #5fa541;
}

.effective-label.friendly-overall,
.effective-label.enemy-overall {
  position: absolute;
  transform: skew(10deg, -20deg) scale(1.5);
}

.effective-label.friendly-overall {
  bottom: 3%;
  left: 95%;
}

.effective-label.enemy-overall {
  top: 300%;
  left: 100%;
}

.list-spacing-moves {
  margin: 8px !important;
}
.list-spacing-moves.vs span:first-child:hover {
  cursor: pointer;
}

.list-spacing-moves > span:empty {
  display: none !important;
}

@media screen and (max-width: 700px), (max-height: 820px) {
  .effective-label {
    box-sizing: border-box;
    margin-top: 0.2rem;
    padding: 3px;
    text-align: center;
    display: flex;
  }

  .effective-label[data-value="Super Effective"],
  .effective-label[data-value="Half Damage"] {
    width: 11vw;
    font-size: 1.2vw;
  }

  .effective-label[data-value="Ineffective"] {
    width: 13vw;
    font-size: 1.3vw;
    margin-left: 0.25vw;
  }

  .list-spacing-moves {
    margin-bottom: 4px;
  }

  .effective-label.friendly-overall,
  .effective-label.enemy-overall {
    position: absolute;
    transform: skew(10deg, -20deg) scale(1.1);
  }

  .effective-label.friendly-overall {
    position: fixed;
    bottom: 27%;
    left: 32%;
  }

  .effective-label.enemy-overall {
    position: fixed;
    top: 30%;
    left: 66%;
  }

  .moves-box::-webkit-scrollbar,
  .enemy-moves-box::-webkit-scrollbar {
    width: 6.6px;
  }

  .moves-list--up-arrow,
  .moves-list--down-arrow,
  .moves-list--up-arrow.has-enemy,
  .moves-list--down-arrow.has-enemy {
    right: 6.5%;
  }

  .enemy-moves-list--up-arrow,
  .enemy-moves-list--down-arrow {
    left: 42.5%;
  }

  .moves-list--up-arrow,
  .moves-list--down-arrow,
  .moves-list--up-arrow.has-enemy,
  .moves-list--down-arrow.has-enemy,
  .enemy-moves-list--up-arrow,
  .enemy-moves-list--down-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
  }

  .moves-list--up-arrow,
  .moves-list--up-arrow.has-enemy,
  .enemy-moves-list--up-arrow {
    border-bottom: 5px solid #b11501;
  }

  .moves-list--down-arrow,
  .moves-list--down-arrow.has-enemy,
  .enemy-moves-list--down-arrow {
    border-top: 5px solid #b11501;
  }
}

@media screen and (max-width: 380px) {
  .moves-list--up-arrow,
  .moves-list--down-arrow,
  .moves-list--up-arrow.has-enemy,
  .moves-list--down-arrow.has-enemy,
  .enemy-moves-list--up-arrow,
  .enemy-moves-list--down-arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }

  .moves-list--up-arrow,
  .moves-list--up-arrow.has-enemy,
  .enemy-moves-list--up-arrow {
    border-bottom: 4px solid #b11501;
  }
  .moves-list--down-arrow,
  .moves-list--down-arrow.has-enemy,
  .enemy-moves-list--down-arrow {
    border-top: 4px solid #b11501;
  }
}
