@media screen and (max-width: 700px), (max-height: 820px){
    #dex-left {
      background-image: none;
    }
    #dex-right-closed{
      display: none;
      animation-name: none;
    }
    #dex-right-open{
      animation-name: none;
    }
    .main{
      position: fixed;
      top: 9.5%;
      left: 6%;
      height: 70%;
      width: 76%;
    }
    .searchbar{
      position: fixed;
      top: 85%;
      left: 10%;
      width: 73%;
    }
    .remove-poke-title{
        position: fixed;
        left: 7%;
        top: 84%;
        height: 2%;
        width: 9.6%;
        font-size: 1.3vw;
        border: 2px solid black;
    }
    #removeButton{
        position: fixed;
        left: 10%;
        top: 89%;
        height: 4.5%;
        width: 6%;
        font-size: 1.6vw;
    }
    #removeButton:active{
        height: 4%;
        width: 5.5%;
    }
    .searchbar > input[type="text"] {
        position: fixed;
        height: 3%;
        width: 40%;
        top: 88%;
        left: 18%;
        border: 2px solid black;
    }
    .searchbar > input[type="text"]::placeholder {
        font-size: 0.6em;
    }
    .search-button{
      position: fixed;
      left: 48%;
      top: 90%;
      height: 3%;
      font-size: 2vw;
      z-index: 1;
      background-color: white;
      box-shadow: 1px 2.5px 0px;
    }
    .search-button:active{
      height: 2.8%;
    }
    .twosearch-pokemon__friendly{
      position: fixed;
      top: 86%;
      left: 64%;
      font-size: 2.2vw;
    }
    .twosearch-pokemon__enemy {
      position: fixed;
      left: 75%;
      top: 86%;
      font-size: 2.2vw;
    }
    .twosearch-pokemon__friendly > button{
      height: 8vh;
      width: 11vw;
    }
    .twosearch-pokemon__enemy > button{
      height: 8vh;
      width: 11vw;
    }
    .twosearch-pokemon__friendly.picked button,
    .twosearch-pokemon__enemy.picked button,
    .twosearch-pokemon__friendly button:active,
    .twosearch-pokemon__enemy button:active{
      height: 7.8vh;
      width: 10.8vw;
    }
  }