.progress-bar {
  position: absolute;
  top: 18%;
  left: 36%;
  width: 90px;
  height: 10px;
  background-color: #d8d8d8;
  border-radius: 20px;
}

.progress-bar__done {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 9px;
  width: 100%;
  height: 100%;
  background: green;
  border-radius: 20px;
  box-shadow: 0 3px 3px -5px green, 0 2px 5px green;
  opacity: 1;
  transition: 0.3s ease 0s;
}
