.pokemon-versus {
  position: absolute;
  top: 28%;
  left: 62%;
  transform: translate(-130%, 30%) scale(1);
  opacity: 1;
  animation-duration: 0.1s;
  animation-delay: 0.9s;
  animation-timing-function: cubic-bezier(1, -0.18, 1, 0.41);
  animation-name: versusexpand;
  animation-fill-mode: forwards;
  z-index: 100;
}
.pokemon-versus__left,
.pokemon-versus__right {
  display: inline-block;
}
.pokemon-versus__left {
  position: relative;
  top: -10px;
  transform: translate(-523%, 0);
  margin-right: -5px;
  opacity: 0;
  animation-duration: 0.2s;
  animation-delay: 0.1s;
  animation-timing-function: cubic-bezier(1, 0.05, 1, -0.29);
  animation-name: versusleftmove;
  animation-fill-mode: forwards;
}
.pokemon-versus__right {
  position: relative;
  bottom: -10px;
  transform: translate(523%, 0);
  margin-left: -5px;
  opacity: 0;
  animation-duration: 0.2s;
  animation-delay: 0.1s;
  animation-timing-function: cubic-bezier(1, 0.05, 1, -0.29);
  animation-name: versusrightmove;
  animation-fill-mode: forwards;
}
.pokemon-versus__left-main,
.pokemon-versus__right-main {
  position: relative;
  font-size: 55px;
  font-weight: 900;
  color: #b61f43;
  transform: skewX(-23deg);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #8e643a;
}
.pokemon-versus__left-main::before,
.pokemon-versus__right-main::before {
  content: attr(data-text);
  position: absolute;
  top: 2px;
  left: -2px;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #8e643a;
  z-index: 1;
}
.pokemon-versus__left-main::after,
.pokemon-versus__right-main::after {
  content: attr(data-text);
  position: absolute;
  top: 0px;
  left: -3px;
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #f4cf98;
  z-index: 1;
}
.pokemon-versus__left-main span::before,
.pokemon-versus__right-main span::before {
  content: attr(data-text);
  position: absolute;
  top: 2.4px;
  left: 1px;
  color: transparent;
  -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: #5c4125;
  z-index: 1;
}
.pokemon-versus__left-main span::after,
.pokemon-versus__right-main span::after {
  content: attr(data-text);
  position: absolute;
  top: 2px;
  left: 1px;
  font-size: 98.18%;
  color: transparent;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #8e643a;
  z-index: 1;
}
.pokemon-versus__middle-line {
  position: relative;
  top: 37px;
  left: -4.9px;
  transform: skewX(-36deg) scale(5);
  display: inline-block;
  opacity: 0;
  animation-duration: 0.2s;
  animation-delay: 0.5s;
  animation-timing-function: cubic-bezier(1, -0.18, 1, 0.41);
  animation-name: versusmiddlepopup;
  animation-fill-mode: forwards;
}
.pokemon-versus__middle-line span {
  display: block;
  width: 2px;
  height: 130px;
  background-color: #c8ab65;
  border-right: 2px solid #8e643a;
  border-bottom: 2px solid #8e643a;
}
.pokemon-versus__left-background {
  background-color: white;
  height: 738.4px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-165.4%, -33.5%);
  width: 331%;
  z-index: -1;
  opacity: 0;
  animation-duration: 0.8s;
  animation-delay: 0s;
  animation-timing-function: cubic-bezier(1, 0.05, 1, -0.29);
  animation-name: versusleftbgmove;
  animation-fill-mode: forwards;
}
.pokemon-versus__right-background {
  background-color: white;
  height: 738.4px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(163.6%, -33.5%);
  width: 331%;
  z-index: -1;
  opacity: 0;
  animation-duration: 0.8s;
  animation-delay: 0s;
  animation-timing-function: cubic-bezier(1, 0.05, 1, -0.29);
  animation-name: versusrightbgmove;
  animation-fill-mode: forwards;
}

@keyframes versusleftmove {
  from {
    transform: translate(-523%, 0);
    opacity: 0;
  }

  65% {
    opacity: 1;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes versusrightmove {
  from {
    transform: translate(523%, 0);
    opacity: 0;
  }

  65% {
    opacity: 1;
  }

  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes versusmiddlepopup {
  from {
    transform: skewX(-36deg) scale(5);
    opacity: 0;
  }

  65% {
    opacity: 1;
  }

  to {
    transform: skewX(-36deg) scale(1);
    opacity: 1;
  }
}
@keyframes versusexpand {
  from {
    transform: translate(-130%, 30%) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(-130%, -50%) scale(5);
    opacity: 0;
  }
}
@keyframes versusleftbgmove {
  from {
    transform: translate(-165.4%, -33.5%);
    opacity: 0;
  }

  50% {
    transform: translate(-84.3%, -33.5%);
    opacity: 1;
  }

  to {
    transform: translate(-84.3%, -33.5%);
    opacity: 0;
  }
}
@keyframes versusrightbgmove {
  from {
    transform: translate(163.6%, -33.5%);
    opacity: 0;
  }

  50% {
    transform: translate(84.6%, -33.5%);
    opacity: 1;
  }

  to {
    transform: translate(84.6%, -33.5%);
    opacity: 0;
  }
}
